@import '~sass-mq/mq';
@import '../../scss/_variables.scss';

.article-header {
  display: block;
  padding: 0;
  margin: 0;
}

.article-header__hgroup {
  display: block;
  background: $color-blue-light;
}

.article-header__title {
  display: block;
  padding: 2rem 0 1rem 0;
  margin: 0;
  line-height: 1.2;
}

.article-header__description {
  display: block;
  padding: 0;
  margin: 0;
  font-size: $font-size-title;
}

.article-header__meta {
  color: $color-gray-dark;
  font-size: $font-size-accent;
  padding-bottom: 0;
  margin-bottom: -1rem;
}

.article-header__date::after {
  content: ' — ';
}
