@import '../../scss/_variables.scss';

.chart-container {
  margin-bottom: 3rem;
}

.chart-container__snippet {
  padding: 2rem;
  margin: 0;
  background: $color-gray-light;
  font-size: 15px;
}

.chart-container__tab-bar {
  display: block;
  height: inherit;
}

.chart-container__tab {
  display: inline-block;
  flex: initial;
  padding: 0 1rem;
}

.chart-container__credits {
  color: $color-gray-dark;

  a {
    color: $color-gray-dark;
  }
}

.chart-container__actions {
  margin: 1rem 0 0 0;

  a {
    margin: 0 0.5rem 0.5rem 0;
    font-weight: bold;
  }
}
