@import '../../scss/_variables.scss';

.footer__link {
  display: inline-block;
  position: relative;
  color: $color-black;
  padding-left: 30px;
}

.footer__link--github {
  color: $color-black;

  svg {
    position: absolute;
    left: 0;
    top: 0;
  }
}
