@import '~@material/layout-grid/_mixins.scss';
@import '~sass-mq/mq';
@import '../../scss/_variables.scss';

.header {
  background: $color-white;
  padding: 0.45rem 0;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.4);
  top: 0;
}

.header__row {
  @each $size in map-keys($mdc-layout-grid-columns) {
    @include mdc-layout-grid-media-query_($size) {
      $padding: map-get($mdc-layout-grid-default-margin, $size);
      padding: 0 $padding;
      max-width: $mdc-layout-grid-max-width;
    }
  }
  margin: 0 auto;
}

.header__link {
  display: inline-block;
  position: relative;
  color: $color-black;
  padding-left: 30px;

  width: 30px;
  height: 30px;
  overflow: hidden;

  @include mq(tablet) {
    width: auto;
    height: auto;
  }
}

.header__link--github {
  color: $color-black;

  svg {
    position: absolute;
    left: 0;
    top: 0;
  }
}
