@import '~sass-mq/mq';
@import '../../scss/_variables.scss';

.newsletter {
  background: $color-gray-light;
  color: $color-black;
}

.newsletter__title {
  margin-bottom: 0.3rem;
}

.newsletter__input-group {
  @include mq(desktop) {
    display: flex;
    align-items: center;
  }
}

.newsletter__button {
  white-space: nowrap;
  position: relative;
  top: 0.6rem;
}

.newsletter__input {
  margin-right: 1rem;
  width: 100%;

  @include mq(desktop) {
    width: auto;
  }

  &.mdc-text-field,
  &.mdc-text-field::before,
  &.mdc-text-field::after {
    background-color: transparent;
  }

  input {
    background: $color-white;
    height: 2.4rem;
    line-height: 2.4rem;
    padding: 0;
  }

  .mdc-floating-label {
    bottom: 0.6rem;
  }

  .mdc-floating-label--float-above {
    bottom: 1.8rem;
  }
}

.newsletter__icon {
  fill: $color-red;
  position: relative;
  top: 0.8em;
  left: -0.15em;
}

.newsletter__terms {
  font-size: 15px;
  margin: 1.5rem 0;

  a {
    color: $color-black;
  }
}

.newsletter__terms__link {
  display: block;
  margin-top: 0.5rem;
}
