.mdc-toolbar {
  background: transparent;
}

.mdc-toolbar__row {
  @each $size in map-keys($mdc-layout-grid-columns) {
    @include mdc-layout-grid-media-query_($size) {
      $padding: map-get($mdc-layout-grid-default-margin, $size);
      padding: 0 $padding;
      max-width: $mdc-layout-grid-max-width;
    }
  }
  margin: 0 auto;
}
