@import '../../scss/_variables.scss';

$data-table-dividers: 1px solid $color-gray;
$data-table-row-height: 20px;
$data-table-column-padding: 15px;

.data-table {
  width: 100%;
  position: relative;

  table {
    border: $data-table-dividers;
    border-collapse: collapse;
    white-space: nowrap;
    font-size: $font-size-accent;
    background-color: $color-white;
  }

  tr {
    position: relative;
    height: $data-table-row-height;
    transition-property: background-color;

    &:hover {
      background-color: $color-gray-light;
    }
  }

  td {
    position: relative;
    height: $data-table-row-height;
    border: $data-table-dividers;
    padding: $data-table-column-padding/2 $data-table-column-padding;
    box-sizing: border-box;
  }

  th {
    position: relative;
    text-overflow: ellipsis;
    height: $data-table-row-height;
    box-sizing: border-box;
    padding: $data-table-column-padding/2 $data-table-column-padding;
    text-align: center;
    border: $data-table-dividers;
    background-color: $color-gray-light;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: $data-table-column-padding * 2;
    background: linear-gradient(to left, white, rgba(255, 255, 255, 0));
  }

  .data-table__container {
    width: 100%;
    overflow: scroll;
  }

  .data-table__cell--str {
    text-align: left;
    font-weight: bold;
  }

  .data-table__cell--num {
    text-align: right;
  }

  .data-table__cell--plain {
    padding: 0;
  }

  .data-table__transpose {
    padding: $data-table-column-padding/2 $data-table-column-padding;
    margin: 0;
    border: 0;
    background: transparent;
  }
}
