@import '../../scss/_variables.scss';

$data-table-dividers: 1px solid $color-gray;
$data-table-row-height: 20px;
$data-table-column-padding: 15px;

.data-table {
  width: 100%;
  position: relative;

  table {
    min-width: calc(100% - 30px);
    border: $data-table-dividers;
    border-collapse: collapse;
    white-space: nowrap;
    font-size: $font-size-accent;
    background-color: $color-white;
  }

  tr {
    position: relative;
    height: $data-table-row-height;
    transition-property: background-color;

    &:hover {
      background-color: $color-gray-light;
    }
  }

  td {
    position: relative;
    height: $data-table-row-height;
    border: $data-table-dividers;
    padding: $data-table-column-padding/2 $data-table-column-padding;
    box-sizing: border-box;
  }

  th {
    position: relative;
    text-overflow: ellipsis;
    height: $data-table-row-height;
    box-sizing: border-box;
    padding: $data-table-column-padding/2 $data-table-column-padding;
    text-align: center;
    border: $data-table-dividers;
    font-weight: bold;

    &:first-of-type {
      width: 30px;
      background-color: $color-gray-light;
    }
  }

  thead th {
    background-color: $color-gray-light;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: $data-table-column-padding * 2;
    background: linear-gradient(to left, white, rgba(255, 255, 255, 0));
  }

  .data-table__container {
    width: 100%;
    overflow: scroll;
  }

  .data-table__cell--string {
    text-align: left;
  }

  .data-table__cell--number {
    text-align: right;
  }

  .data-table__transpose {
    padding: 0;

    button {
      padding: $data-table-column-padding/2 0;
      display: block;
      width: 100%;
      margin: 0;
      border: 0;
      background: transparent;
      cursor: pointer;
    }
  }
}
