@import '~/mapbox-gl/dist/mapbox-gl.css';

.district__header {
  display: block;
  width: 100%;

  .mapboxgl-map {
    height: 320px;

    .mapboxgl-canvas {
      height: 300px !important;
    }
  }
}
