@import '../../scss/_variables.scss';

.region-meta__source {
  color: $color-gray-dark;

  a {
    color: $color-gray-dark;
  }
}

.region-meta__highlight {
  margin-bottom: 1em;

  b {
    font-size: 60px;
    line-height: 1em;
    font-weight: bold;
    display: block;
  }
}

.region-meta__listing {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    margin: 0;
    padding: 0;
  }

  svg {
    position: relative;
    top: 0.2em;
    padding-right: 0.2em;
  }
}

.region-meta__donut {
  width: 200px;
  height: 200px;
}
