$title-padding: 1rem;
$title-background: $color-blue-dark;

.region-header {
  position: relative;
  width: 100%;
  height: 400px;

  .mapboxgl-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .mapboxgl-ctrl {
    opacity: 0.6;
  }
}

.region-header__hgroup {
  z-index: 1;
  display: block;
  position: absolute;
  bottom: 3em;
  width: 100%;
  color: $color-white;
  pointer-events: none;

  h1 {
    font-size: 60px;
    line-height: 1.2em;
    font-weight: normal;
    display: inline;
    background: $title-background;
    color: white;
    padding: 0;
    -webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
    box-shadow: $title-padding 0 0 $title-background,
      -$title-padding 0 0 $title-background;
  }

  p {
    margin: 1em 0 0 0;
    font-weight: bold;
    font-size: 22px;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
  }
}
