@import 'sass-mq/mq';
@import '../../scss/_variables.scss';

.state-list {
  display: block;
  padding: 0;
  margin: 0;

  &:first-of-type {
    padding-top: 1.3rem;
  }
}

.state-list__header {
  display: block;
  position: relative;
  margin: 0;
  padding: 0 0 1.3rem 0;
  border-bottom: 1px solid $color-gray;
}

.state-list__title {
  display: block;
  font-size: $font-size-title;
  padding: 0;
  margin: 0;
}
