body {
  padding-top: $header-height;
  font-family: $font-family-default;
  line-height: 1.4;
  font-size: $font-size-default;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: $color-blue-dark;
}
