/**
 * Project settings
 */

$color-white: #ffffff;
$color-black: #000000;
$color-blue: #6ac9ee;
$color-blue-light: #c3e5f1;
$color-red: #f26c6f;
$color-green: #bcd869;
$color-yellow: #fed957;
$color-gray: #e0e0e0;

$font-family-default: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
$font-size-default: 22px;

$header-height: 62px;

/**
 * Material Design Components overrides
 */

$mdc-layout-grid-max-width: 1140px;

$mdc-theme-primary: $color-blue;
$mdc-theme-secondary: $color-red;
$mdc-theme-background: $color-white;

$mdc-typography-font-family: $font-family-default;
