$color-white: #ffffff;
$color-black: #000000;
$color-blue: #6ac9ee;
$color-red: #f26c6f;
$color-green: #bcd869;
$color-yellow: #fed957;
$color-gray: #e0e0e0;

$mdc-layout-grid-max-width: 1140px;

$mdc-theme-primary: $color-blue;
$mdc-theme-secondary: $color-red;
$mdc-theme-background: $color-white;
